<?xml version="1.0"?>
<!--
/**
 * LICENSE_HERE_AFL
 */
-->
<config>
    <modules>
        <Cm_Saas>
            <version>0.1</version>
        </Cm_Saas>
    </modules>
    <global>
        <models>
            <saas>
                <class>Cm_Saas_Model</class>
                <resourceModel>saas_resource</resourceModel>
            </saas>
            <saas_resource>
                <class>Cm_Saas_Model_Resource</class>
            </saas_resource>
        </models>
        <blocks>
            <saas>
                <class>Cm_Saas_Block</class>
            </saas>
        </blocks>
        <template>
            <email>
            </email>
        </template>
        <events>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules before="Mage_Adminhtml"><saas>Cm_Saas_Adminhtml</saas></modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <saas>
                    <file>saas.xml</file>
                </saas>
            </updates>
        </layout>
    </adminhtml>
    <saas>
        <routers>
            <saas>
                <use>saas</use>
                <args>
                    <module>Cm_Saas_Saas</module>
                </args>
            </saas>
        </routers>
    </saas>
    <frontend>
        <routers>
            <saas>
                <use>standard</use>
                <args>
                    <module>Cm_Saas_Frontend</module>
                    <frontName>saas</frontName>
                </args>
            </saas>
        </routers>
    </frontend>
    <default>
        <web>
            <routers>
                <saas>
                    <area>saas</area>
                    <class>Cm_Saas_Controller_Varien_Router_Saas</class>
                </saas>
            </routers>
        </web>
    </default>
    <websites>
        <admin>
            <web>
                <routers>
                    <saas>
                        <disabled>true</disabled>
                    </saas>
                </routers>
            </web>
        </admin>
        <saas>
            <web>
                <routers>
                    <adminhtml>
                        <disabled>true</disabled>
                    </adminhtml>
                    <frontend>
                        <disabled>true</disabled>
                    </frontend>
                </routers>
                <default>
                    <no_route>saas/index/noRoute</no_route>
                </default>
            </web>
        </saas>
    </websites>
    <stores>
        <saas>
            <design>
                <package>
                    <name>default</name>
                </package>
                <theme>
                    <default>default</default>
                </theme>
            </design>
        </saas>
    </stores>
</config>
